body{
    box-sizing: border-box;
    background-color: black;
}
.main_section{
    margin: 0 auto;
    max-width:70%;
    width: 1200px;
}
.section_1{
    margin: 0 auto;
    padding: 30px 0px 60px;
}	

.section_2{
    text-align: center;
}

.vs_icon{
    height: 70px;
}
.container{
    padding: 50px 0px;
    height: 430px;
    align-items: center;
}
.item{
    width: 50%;
}
.discription{
    float: left;
}
.photo{
    float: right;
}
.profile-img{
    max-height: 352px;
    width: 352px;
    clip-path: circle(50.0% at 50% 50%);
    display: block;
    margin: auto ;
    width: 80%;
}
.head_name{
    font-size: 80px;
    font-weight: 900;
    color: white;
    line-height: 80px;
    margin: 0 auto;
}
.dev{
    color: rgb(136, 136, 136);
}
.about{
    color: rgb(136, 136, 136);
}
nav{
    height: 100px;
}

.sm-handle{
    align-items: center;
    margin: 50px;
}

.flex_container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}
.flex_item{
    align-items: center;
}

/*footer*/
footer {
    background-color: rgb(26, 26, 26);
    text-decoration: none;
    padding: 30px;
    text-align: center;
    
}

footer a {
    color: white;
}

.sm-handle{
    margin: 50px auto;
}

.sm-handle a{
    background-color: rgba(128, 128, 128, 0.288);
    padding: 8px 15px 12px;
    border-radius: 30px;
    margin: 5px;
    text-decoration: none;
}

.sm-handle a:hover{
    background-color: rgba(128, 128, 128, 0.699);
}

.yt-handle{
    color: #FF0000;
}

.ig-handle{
    color: #bc2a8d;
}

.tw-handle{
    color: #1DA1F2;
}

.in-handle{
    color: #0e76a8;
}


@media screen and (max-width :990px){
    .discription{
        width: 100%;
        text-align: center;
    }
    .photo{
        width: 100%;
    }
    .profile-img{
        max-height: 352px;
        max-width: 352px;
    }
    .flex_container{
        padding-top: 50px;
    }
}

@media screen and (max-width :490px){
    .head_name{
        font-size: 60px;
        font-weight: 900;
        color: white;
        line-height: 50px;
        margin: 0;
    }
    .section_1{
        padding-top: 8px;
    }
    .container{
        padding-top: 0;
    }
    .photo{
        padding-top: 50px;
    }
    .flex_container{
        padding-top: 50px;
    }
    footer{
        padding: 20px;
    }
}