body{
    background-image: url("./images/dark.jpg");
    background-size: auto 100%;
    background-attachment: fixed;
    box-sizing: border-box;
    background-color: black;
    margin: 0;
}

.container_1{
    margin: 140px auto;
    max-width:75%;
    width: 1080px;
    height: 450px;
}

.container_2{
    margin: 140px auto;
    max-width:75%;
    width: 1200px;
    height: 550px;
    background-color: white;
}

.item{
    width: 50%;
    height: 432px;
}

.discription{
    float: left;
}

.photo{
    float: right;
}

.profile-img{
    clip-path: circle(50.0% at 50% 50%);
    display: block;
    margin: auto ;
}

.head_name{
    font-size: 80px;
    font-weight: 900;
    color: white;
    line-height: 80px;
    margin: 0 auto;
}
.dev{
    color: rgb(185, 185, 185);
    margin: 18px 0px;
}
.tag{
    color: rgb(185, 185, 185);
    font-size: larger;
}

.about{
    color: rgb(66, 66, 66);
    float: left;
    padding: 40px 20px;
    width: 70%;
}

.flex_container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}
.flex_item{
    justify-content: center;
    align-items: center;
}

/*footer*/
footer {
    background-color: rgb(26, 26, 26);
    text-decoration: none;
    padding: 30px;
    text-align: center;
    
}

footer a {
    color: white;
}

.social_handels{
    width: 100%;
}

.social_handels a{
    background-color: rgba(128, 128, 128, 0.288);
    padding: 8px 15px 12px;
    border-radius: 30px;
    margin: 5px;
    text-decoration: none;
}

.social_handels a:hover{
    background-color: rgba(58, 58, 58, 0.699);
}

.yt-handle{
    color: #FF0000;
}

.ig-handle{
    color: #bc2a8d;
}

.tw-handle{
    color: #1DA1F2;
}

.in-handle{
    color: #0e76a8;
}


@media screen and (max-width :990px){
    .discription{
        height: 332px;
    }
    .item{
        width: 100%;
        text-align: center;
    }
    .about{
        width: 100%;
        color: white;
        text-align: left;
    }
    .container_1{
        margin: 20px auto;
    }
    .container_2{
        height: 100%;
    }
}

@media screen and (max-width :554px){
    .discription{
        height: 332px;
    }
    .item{
        width: 100%;
        text-align: center;
    }
    .about{
        width: 100%;
        color: white;
        text-align: left;
    }
    .container_1{
        margin: 20px auto;
    }
    .container_2{
        height: 100%;
    }
    footer{
        width: 100%;
    }
}

